*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
}

body{
    font-family:sans-serif;
}

.header{
    background-image: url("../img/IMAGE.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding: 300px 0px;
}


.container{
    width: 1140px;
    margin: 0 auto;
}



.navbar .container{
    display: flex;
    align-items: center;
}

.escape{
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-top: -40%;
}

.escape h3{
    font-size: 25px;
    color: white;
}

.escape_list{
    display: flex;
    margin-left: 50%;
   
}

.escape_item .escape_link{
    color: rgb(255, 255, 255);
    margin:0px 50px;
    font-size: 19px;
    transition: .5s;
    font-weight: bold;
}


.escape_item .escape_link:hover{
    color: #DD783F;
    transform: scale(1.1);
}

/* navbar_ended */
/* ///////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////// */
@media(max-width: 1160px) {
    .container{
      width: 1040px;
    }

    .header{
        background-image: url("../img/IMAGE.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
    }



    .escape_item .escape_link{
        font-size: 17px !important;
        margin: 0px 40px;
    }

    .escape h3{
        font-style: 19px !important;
    }


    .escape{
      margin-top: -50%;
    }



    .lets{
        margin-top: -30% !important;
    }

    

    .lets h1{
        font-size: 50px !important;
    }


    .lets p{
        font-size: 18px !important;
    }

    .lets a{
        font-size: 17px !important;
    }
    
  
}

/* ///////////////////////////////////////////////////////// */


@media(max-width: 1060px) {
    .container{
      width: 940px;
    }

    .header{
        background-image: url("../img/IMAGE.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
    }


    .escape_item .escape_link{
        font-size: 16px !important;
        margin: 0px 30px;
    }

    .escape h3{
        font-style: 18px !important;
    }


    .escape{
      margin-top: -60%;
    }


   .lets{
    margin-top: -37% !important;
   }


}
/* //////////////////////////////////////////////////////// */

@media(max-width: 960px) {
    .container{
      width: 840px;
  
    }

    .header{
        background-image: url("../img/IMAGE.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
    }


   
}

/* ///////////////////////////////////////////////////////////////// */

@media(max-width: 860px) {
    .container{
      width: 740px;
     
    }

    .header{
        background-image: url("../img/IMAGE.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
    }




   


}

/* //////////////////////////////////////////////////////////////////////// */

@media(max-width: 760px) {
    .container{
      width: 640px;
     
    }

    .header{
        background-image: url("../img/IMAGE.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
    }


   
}

/* /////////////////////////////////////////////////////////////////////////////// */

@media(max-width: 660px) {
    .container{
      width: 540px;
   
    }

    
    .header{
        background-image: url("../img/IMAGE.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
    }


   
}

/* /////////////////////////////////////////////////////////////////////////// */

@media(max-width: 560px) {
    .container{
      width: 440px;
      
    }

    
    .header{
        background-image: url("../img/IMAGE.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
    }


    
}

/* ////////////////////////////////////////////////////// */

@media(max-width: 460px) {
    .container{
      width: 340px;
    
    }

    
    .header{
        background-image: url("../img/IMAGE.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
    }


   
}

/* ///////////////////////////////////////////////////////// */



@media(max-width: 360px) {
    .container{
      width: 240px;
    
    }

    
    .header{
        background-image: url("../img/IMAGE.png");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
    }


    
}

/* ///////////////////////////////////////////////////////// */

@media(max-width: 260px) {
    .container{
      width: 100%;
    }


}
/* ////////////////////////////////////////////////////////// */

.main .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lets{
    margin-top: -10%;
}

.lets h1{
    color: white;
    font-size: 70px;
    font-weight: normal;
    text-align: center;
    transition: .5s;
}


.lets h1:hover{
    color: #DD783F;
    transform: scale(1.1);
}


.lets p{
    text-align: center;
    margin: 10px 0px;
    font-size: 20px;
    color: darkgrey;
    transition: .5s;
}


.lets p:hover{
    color: black;
    transform: scale(1.1);
}


.lets a{
    color: white;
    background-color: #DD783F;
    padding: 10px 20px ;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 32%;
    margin-top: 10px;
    transition: .5s;
}


.lets a:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 0px  rgb(132, 132, 132);

}


